html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
@font-face {
  font-family: 'MyriadProRegular';
  src: url('../MyriadProRegular.eot');
  src: url('../MyriadProRegular.eot?#iefix') format('embedded-opentype'), url('../MyriadProRegular.woff2') format('woff2'), url('../MyriadProRegular.woff') format('woff'), url('../MyriadProRegular.ttf') format('truetype'), url('../MyriadProRegular.svg#din_alternateregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  overflow: hidden;
}
.wrap-header {
  background: url(../image/background_menu.png);
  height: 50px;
}
.header {
  max-width: 960px;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
}
.menu {
  display: inline-block;
}
.menu a {
  color: #98999a;
  text-decoration: none;
  margin-right: 10px;
  font-family: arial;
  font-size: 16px;
  line-height: 40px;
  padding: 6px 25px;
  vertical-align: middle;
}
.menu a:hover {
  color: #1c2023;
  background-color: #98999a;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
@media screen and (max-width: 768px) {
  .header {
    max-width: 696px;
  }
  .wrap-header {
    height: 45px;
  }
}
@media screen and (max-width: 480px) {
  .header {
    max-width: 440px;
  }
  .wrap-header {
    height: 40px;
  }
  .menu a {
    font-size: 12px;
    line-height: 14px;
    padding: 3px 20px 3px;
  }
}
@media screen and (max-width: 400px) {
  .header {
    max-width: 340px;
  }
  .menu a {
    margin-right: 0;
  }
}
.slider {
  text-align: center;
}
.slider .logo {
  display: inline-block;
  margin-top: 30px;
  width: 111px;
  height: 90px;
}
.logo img {
  width: 100%;
}
.slider h1 {
  font-family: "MyriadProRegular";
  font-size: 76px;
  font-weight: bolder;
  display: inline-block;
  margin-top: 30px;
  margin-left: 27px;
  color: #904e3a;
  vertical-align: top;
}
.slider .logo2 {
  position: absolute;
  top: -50px;
  right: -79px;
  width: 125px;
  height: 126px;
}
.logo2 img {
  width: 100%;
}
.wrap-slider {
  /*	background: linear-gradient(#f1f1f0,#dfd5cf);  
  	-webkit-background-clip: text;  
  	color: transparent;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,a1dbff+100 */
  color: #f1f1f0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f1f0+0,dfd5cf+100 */
  background: #f1f1f0;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(../data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmQ1Y2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f1f1f0 0%, #dfd5cf 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f0), color-stop(100%, #dfd5cf));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f1f1f0 0%, #dfd5cf 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f1f1f0 0%, #dfd5cf 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f1f1f0 0%, #dfd5cf 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f1f1f0 0%, #dfd5cf 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f0', endColorstr='#dfd5cf', GradientType=0);
  /* IE6-8 */
  position: relative;
}
.title-page {
  position: relative;
  display: inline-block;
  text-align: left;
}
.wrap-slider:after {
  content: " ";
  background: url(../image/slider-end.png) repeat;
  background-repeat: repeat-x;
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 10px;
  overflow: hidden;
}
.mobile-icons {
  display: block;
  padding-bottom: 15px;
}
.mobile-icons li:first-child {
  padding-left: 0;
}
.mobile-icons li {
  display: inline-block;
  padding-left: 88px;
  padding-top: 56px;
}
.mobile-icons a {
  display: block;
  text-decoration: none;
}
.icon-mobile {
  background-repeat: no-repeat;
  background-image: url(../image/sprite.png);
  margin: 0 auto;
  display: block;
}
.icon-iphone {
  width: 25px;
  height: 43px;
  background-position: 0px 0px;
}
.icon-link:hover .icon-iphone:hover {
  background-position: 0px -60px;
}
.icon-ipad {
  width: 38px;
  height: 50px;
  background-position: -34px 0px;
}
.icon-link:hover .icon-ipad {
  background-position: -34px -60px;
}
.icon-android {
  width: 41px;
  height: 49px;
  background-position: -81px 0px;
}
.icon-link:hover .icon-android:hover {
  background-position: -81px -60px;
}
.icon-kindle {
  width: 41px;
  height: 49px;
  background-position: -130px 0px;
}
.icon-link:hover .icon-kindle:hover {
  background-position: -130px -60px;
}
.icon-name {
  color: #32353a;
}
.icon-link:hover .icon-name {
  color: #d65600;
}
.slider-slider {
  display: none;
}
.slides {
  width: 608px;
  height: 456px;
}
.slides-item {
  display: inline-block;
}
.pagination {
  display: inline-block;
  text-align: center;
}
.prev {
  padding-right: 30px;
}
@media screen and (max-width: 768px) {
  .slider .logo {
    width: 96px;
    height: 79px;
  }
  .slider h1 {
    font-size: 65px;
  }
  .slider .logo2 {
    width: 97px;
    height: 97px;
  }
}
@media screen and (max-width: 480px) {
  .slider .logo {
    width: 67px;
    height: 53px;
  }
  .slider h1 {
    font-size: 39px;
    margin-left: 15px;
  }
  .slider .logo2 {
    width: 92px;
    height: 91px;
    top: -39px;
    right: -53px;
  }
  .mobile-icons li {
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 20px;
  }
  .mobile-icons li:first-child {
    padding-left: 24px;
  }
  .icon-mobile {
    background-image: url(../image/sprite-1-420.png);
  }
  .icon-iphone {
    width: 23px;
    height: 42px;
    background-position: 0px 0px;
  }
  .icon-link:hover .icon-iphone:hover {
    background-position: 0px -41px;
  }
  .icon-ipad {
    width: 33px;
    height: 43px;
    background-position: -31px 0px;
  }
  .icon-link:hover .icon-ipad {
    background-position: -29px -47px;
  }
  .icon-android {
    width: 34px;
    height: 41px;
    background-position: -81px 0px;
  }
  .icon-link:hover .icon-android:hover {
    background-position: -81px -46px;
  }
  .icon-kindle {
    width: 27px;
    height: 39px;
    background-position: -116px 0px;
  }
  .icon-link:hover .icon-kindle:hover {
    background-position: -116px -49px;
  }
}
@media screen and (max-width: 400px) {
  .slider .logo {
    width: 50px;
    height: 41px;
    margin-top: 20px;
  }
  .slider h1 {
    font-size: 28px;
    margin-left: 10px;
    margin-top: 20px;
  }
  .slider .logo2 {
    width: 68px;
    height: 68px;
    top: -16px;
    right: -61px;
  }
  .mobile-icons li {
    padding-left: 20px;
  }
}
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .slider h1 {
    background: -webkit-linear-gradient(#b9826c, #904e3a);
    -webkit-background-clip: text;
    color: transparent;
  }
}
.wrap-description {
  width: 100%;
  background-color: #eeeeee;
  overflow: hidden;
}
.description {
  max-width: 960px;
  margin: 0 auto;
}
.description ul {
  overflow: hidden;
  margin-top: 55px;
}
.description li {
  width: 50%;
  display: block;
  float: left;
  padding-bottom: 40px;
  overflow: hidden;
}
.description li:nth-child(2n+1) {
  clear: left;
}
.description p {
  padding-top: 20px;
}
.description h2 {
  color: #915542;
  font-size: 34px;
  line-height: 36px;
  font-family: arial;
  display: inline-block;
}
.image-description {
  width: 173px;
  float: left;
}
.description-text {
  margin-left: 195px;
  font-family: arial;
  font-size: 18px;
  line-height: 28px;
}
@media screen and (max-width: 768px) {
  .description {
    max-width: 696px;
  }
  .image-description {
    width: 127px;
    float: left;
  }
  .description h2 {
    font-size: 24px;
    line-height: 26px;
  }
  .description p {
    padding: 0;
  }
  .description-text {
    font-size: 14px;
    line-height: 20px;
    margin-left: 140px;
  }
}
@media screen and (max-width: 480px) {
  .description {
    max-width: 440px;
  }
  .description li {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .description {
    max-width: 340px;
  }
  .image-description {
    width: 93px;
    float: left;
  }
  .description-text {
    margin-left: 100px;
  }
  .description li {
    padding-bottom: 30px;
  }
}
.wrap-abilities {
  width: 100%;
  background-color: #4f3429;
  overflow: hidden;
}
.abilities {
  max-width: 960px;
  margin: 0 auto;
}
.ability-all {
  font-family: arial;
  font-size: 20px;
  color: #fff;
  width: 80%;
  margin: 0 auto 0;
}
.ability-list-title {
  position: relative;
}
.ability-list {
  background-repeat: no-repeat;
  background-image: url(../image/sprite-2.png);
  position: absolute;
  top: 50%;
  margin-left: -24px;
}
.ability-all li:nth-child(2n+1) {
  clear: left;
}
.ability-all li {
  width: 50%;
  margin: 40px 0 40px;
  float: left;
  padding-left: 98px;
  box-sizing: border-box;
}
.lock {
  width: 47px;
  height: 57px;
  background-position: 0px 0px;
  display: inline-block;
  padding: 0;
  margin-top: -28px;
  left: -55px;
}
.ability-all p {
  display: inline-block;
  vertical-align: middle;
  max-width: 240px;
}
.copy {
  width: 59px;
  height: 47px;
  background-position: -130px -5px;
  display: inline-block;
  margin-top: -23px;
  left: -59px;
}
.circle {
  width: 64px;
  height: 48px;
  background-position: -58px -5px;
  display: inline-block;
  margin-top: -24px;
  left: -64px;
}
.bolt {
  width: 46px;
  height: 64px;
  background-position: -206px 0px;
  display: inline-block;
  margin-top: -32px;
  left: -55px;
}
@media screen and (max-width: 768px) {
  .abilities {
    max-width: 696px;
  }
  .ability-all {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .abilities {
    max-width: 440px;
  }
  .ability-all li {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .abilities {
    max-width: 340px;
  }
  .ability-all li {
    margin: 20px 0px 20px;
  }
  .ability-all p {
    max-width: 250px;
  }
}
.wrap-comments {
  width: 100%;
  background-color: #f8f7f3;
  position: relative;
}
.comments {
  max-width: 960px;
  margin: 0 auto;
  padding: 25px 0 50px;
  position: relative;
}
.comments-grid {
  padding: 0 15px 20px;
  position: relative;
}
.comments-col {
  float: left;
  width: 33.33333333%;
}
.comment {
  margin: 0 10px;
}
.comments p {
  font-family: arial;
  font-size: 16px;
  line-height: 24px;
}
.author {
  font-family: arial;
  font-size: 18px;
  color: #8f4f35;
  font-weight: bold;
  position: absolute;
  text-align: right;
  padding: 0;
  width: 33.33333333%;
  bottom: 0;
}
.author span {
  margin-right: 20px;
}
.button-more-block {
  text-align: center;
  position: absolute;
  bottom: -27px;
  z-index: 1;
  width: 100%;
  left: 0;
}
.more-button {
  display: inline-block;
  border: 2px solid white;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  font-family: arial;
  font-size: 24px;
  line-height: 26px;
  font-weight: bolder;
  color: #fff;
  background: url(../image/button-fone.png) repeat-x;
  -webkit-box-shadow: 0px 3px 5px 0px #000000;
  -moz-box-shadow: 0px 3px 5px 0px #000000;
  box-shadow: 0px 3px 5px 0px #000000;
  padding: 10px 55px 10px 55px;
  text-decoration: none;
}
.wrap-comments:after {
  content: " ";
  background: url(../image/comments-end.png) repeat;
  background-repeat: repeat-x;
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 10px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .comments {
    max-width: 696px;
  }
  .comments-col {
    width: auto;
    float: none;
  }
}
@media screen and (max-width: 480px) {
  .comments {
    max-width: 440px;
  }
  .comments {
    padding: 25px 0 17px;
  }
  .comments-grid {
    padding: 0;
  }
  .author {
    padding-bottom: 20px;
    padding-top: 10px;
  }
}
@media screen and (max-width: 400px) {
  .comments {
    max-width: 340px;
  }
}
.wrap-footer {
  width: 100%;
  background-color: #393939;
  overflow: hidden;
}
.foot-container {
  display: block;
  margin-bottom: 25px;
}
.footer {
  max-width: 960px;
  margin: 0 auto;
}
.connect {
  float: left;
  padding-right: 40px;
}
.connect h3 {
  font-family: arial;
  font-size: 22px;
  color: #dbdbdb;
  padding-top: 50px;
}
.contact-icons {
  display: inline-block;
  padding-top: 20px;
}
.contact-icons li {
  display: inline-block;
  margin-right: 10px;
}
.social-icons {
  background-repeat: no-repeat;
  background-image: url(../image/sprite-contacts.png);
  width: 44px;
  height: 44px;
  border-radius: 2px;
  display: inline-block;
}
.email {
  background-position: 0 0;
  display: inline-block;
}
.twitter {
  background-position: -55px 0;
  display: inline-block;
}
.facebook {
  background-position: -108px 0;
  display: inline-block;
}
.linkedin {
  background-position: -162px 0;
  display: inline-block;
}
.subscribe {
  display: inline-block;
  vertical-align: top;
  padding-right: 80px;
  padding-top: 90px;
}
.subscribe p {
  font-family: arial;
  font-size: 12px;
  color: #9c9c9c;
}
.subscribe-input {
  width: 150px;
  height: 26px;
  background-color: #0d0d0d;
  color: #9c9c9c;
  border: none;
  margin-top: 10px;
}
.button-subscribe {
  border: 1px solid #1f1f1f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #21689c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #21689c 0%, #1b5580 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #21689c), color-stop(100%, #1b5580));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #21689c 0%, #1b5580 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #21689c 0%, #1b5580 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #21689c 0%, #1b5580 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #21689c 0%, #1b5580 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21689c', endColorstr='#1b5580', GradientType=0);
  /* IE6-9 */
  padding: 7px 7px 8px 10px;
  color: #eaeaea;
}
.partners {
  float: right;
  height: 90px;
}
.partners h3 {
  font-family: arial;
  font-size: 22px;
  color: #dbdbdb;
  padding-top: 50px;
}
.partners-list {
  display: inline-block;
  padding-top: 21px;
}
.partners-list li {
  padding-right: 28px;
  float: left;
}
.partner-logo {
  background-repeat: no-repeat;
  background-image: url(../image/sprite-partners.png);
  width: 142px;
  height: 50px;
}
.comboapp {
  display: inline-block;
  background-position: 0 0;
}
.dici {
  display: inline-block;
  background-position: -150px 0;
}
.year:before {
  content: " ";
  display: block;
  position: absolute;
  width: 99999px;
  left: -50%;
  bottom: 24px;
  border-top: 1px solid #2c2c2c;
  border-bottom: 1px solid #4e4e4e;
}
.year {
  text-align: center;
  position: relative;
  padding: 5px 0 6px 0;
}
.year p {
  font-family: arial;
  font-size: 12px;
  color: #969696;
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 696px;
  }
  .author {
    width: auto;
    position: static;
  }
  .subscribe {
    display: block;
    padding: 0;
    clear: both;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    max-width: 440px;
  }
  .partners {
    float: left;
    height: 90px;
  }
  .partners-list li {
    padding-right: 24px;
  }
  .subscribe {
    display: inline-block;
    width: 50%;
    margin: -155px 0px 145px 230px;
  }
  .subscribe-input {
    margin-top: 0;
    width: 133px;
  }
  .button-subscribe {
    padding: 6px 7px 6px 7px;
  }
}
@media screen and (max-width: 400px) {
  .footer {
    max-width: 340px;
  }
  .subscribe-partners {
    display: table;
  }
  .partners {
    display: table-footer-group;
    height: auto;
  }
  .subscribe {
    display: table-header-group;
    padding: 0;
    margin: 0;
  }
  .partners h2 {
    padding-top: 20px;
  }
  .year {
    text-align: right;
  }
}
